<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>list_app</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
    <div class="container">
      <div class="top-title">
        <h1>お買い物リスト</h1>
        <h1>LIST APP</h1>
        <p>LIST APPは、買い物をリストアップするサービスです。</p>
        <p>買いたいものをリストに追加してみましょう。</p>
        <a href="#" class="btn">一覧を見る</a>
      </div>
    </div>
  </body>
</html>
